{% extends "base.html" %}

{% block title %}Использованные источники{% endblock %}

{% block breadcrumbs %}
<a href="{{ url_for('index') }}">Главная</a> &raquo; Использованные источники
{% endblock %}

{% block content %}
<h1>Использованные источники</h1>

<section id="academic">
    <h2>Академические статьи и публикации</h2>
    
    <ol class="sources-list">
        <li>
            Коржова Д.А., Смеричевский Э.Ф. Информационное общество: к анализу понятия // Вестник науки и творчества. – [Б. м.], 2019. – С. 9–13. – 
            <a href="https://cyberleninka.ru/article/n/informatsionnoe-obschestvo-k-analizu-ponyatiya/viewer" target="_blank" rel="noopener">
                https://cyberleninka.ru/article/n/informatsionnoe-obschestvo-k-analizu-ponyatiya/viewer
            </a> 
            (дата обращения: 04.10.2025)
        </li>
        <li>
            Власов А.В. Информационное общество сегодня: текущие тренды, перспективы развития и вызовы // Коммуникология: электронный научный журнал. – М., 2023., – Т. 8, – №4. – С. 94–110. – 
            <a href="https://cyberleninka.ru/article/n/informatsionnoe-obschestvo-segodnya-tekuschie-trendy-perspektivy-razvitiya-i-vyzovy/viewer" target="_blank" rel="noopener">
                https://cyberleninka.ru/article/n/informatsionnoe-obschestvo-segodnya-tekuschie-trendy-perspektivy-razvitiya-i-vyzovy/viewer
            </a> 
            (дата обращения: 04.10.2025)
        </li>
        <li>
            Воронкин А.С. Социальные сети: эволюция, структура, анализ // Образовательные технологии и общество. – г. Луганск, 2014. – Т. 17, №1, – С. 650–675. – 
            <a href="https://www.elibrary.ru/item.asp?id=22477978" target="_blank" rel="noopener">
                https://www.elibrary.ru/item.asp?id=22477978
            </a> 
            (дата обращения: 04.10.2025)
        </li>
        <li>
            Васильев Н.А. Основные тенденции развития социальных сетей (на пути к новому социальному миру) // Социально-гуманитарные знания. – М., 2023, – №10. – С. 22–26. – 
            <a href="https://cyberleninka.ru/article/n/osnovnye-tendentsii-razvitiya-sotsialnyh-setey-na-puti-k-novomu-sotsialnomu-miru/viewer" target="_blank" rel="noopener">
                https://cyberleninka.ru/article/n/osnovnye-tendentsii-razvitiya-sotsialnyh-setey-na-puti-k-novomu-sotsialnomu-miru/viewer
            </a> 
            (дата обращения: 05.10.2025)
        </li>
        <li>
            Кихтан В.В., Качмазова З.Н. Информационная война: понятие, содержание и основные формы проявления // Вестник Волжского университета им. В.Н. Татищева. – г. Тольятти, 2018. – № 2, Т.2. – С. 228–235. – 
            <a href="https://cyberleninka.ru/article/n/informatsionnaya-voyna-ponyatie-soderzhanie-i-osnovnye-formy-proyavleniya/viewer" target="_blank" rel="noopener">
                https://cyberleninka.ru/article/n/informatsionnaya-voyna-ponyatie-soderzhanie-i-osnovnye-formy-proyavleniya/viewer
            </a> 
            (дата обращения: 04.10.2025)
        </li>
    </ol>
</section>

<section id="statistical">
    <h2>Статистические и аналитические ресурсы</h2>
    
    <ol class="sources-list" start="6">
        <li>
            Социальные сети в России: цифры и тренды, весна 2025 // Brand Analytics. – [Б. м.], 2025. – 
            <a href="https://brandanalytics.ru/blog/social-media-russia-spring-2025" target="_blank" rel="noopener">
                https://brandanalytics.ru/blog/social-media-russia-spring-2025
            </a> 
            (дата обращения: 04.10.2025)
        </li>
        <li>
            Социальные сети 2025: 7 трендов в SMM на будущий год // Sostav. – [Б. м.], 2024. – 
            <a href="https://www.sostav.ru/publication/sotsialnye-seti-2025-72094.html" target="_blank" rel="noopener">
                https://www.sostav.ru/publication/sotsialnye-seti-2025-72094.html
            </a> 
            (дата обращения: 05.10.2025)
        </li>
        <li>
            Как будут развиваться социальные сети в 2024 году: 29 трендов от западного эксперта // vc.ru. – [Б. м.], 2023. – 
            <a href="https://vc.ru/id2550721/906226-kak-budut-razvivatsya-socialnye-seti-v-2024-godu-29-trendov-ot-zapadnogo-eksperta" target="_blank" rel="noopener">
                https://vc.ru/id2550721/906226-kak-budut-razvivatsya-socialnye-seti-v-2024-godu-29-trendov-ot-zapadnogo-eksperta
            </a> 
            (дата обращения: 05.10.2025)
        </li>
        <li>
            Как короткие видеоролики разрушают мозг: в чем опасность быстрого контента // Forbes. – [Б. м.], 2025. – 
            <a href="https://www.forbes.ru/young/532108-kak-korotkie-videoroliki-razrusaut-mozg-v-cem-opasnost-bystrogo-kontenta" target="_blank" rel="noopener">
                https://www.forbes.ru/young/532108-kak-korotkie-videoroliki-razrusaut-mozg-v-cem-opasnost-bystrogo-kontenta
            </a> 
            (дата обращения: 05.10.2025)
        </li>
    </ol>
</section>

<section id="additional">
    <h2>Дополнительные материалы</h2>
    
    <ol class="sources-list" start="10">
        <li>
            We Are Social, Hootsuite. Digital 2024 Global Overview Report [Электронный ресурс]. – 
            <a href="https://wearesocial.com/uk/blog/2024/01/digital-2024/" target="_blank" rel="noopener">
                https://wearesocial.com/uk/blog/2024/01/digital-2024/
            </a> 
            (дата обращения: 05.10.2025)
        </li>
        <li>
            Pew Research Center. Social Media Fact Sheet [Электронный ресурс]. – 
            <a href="https://www.pewresearch.org/internet/fact-sheet/social-media/" target="_blank" rel="noopener">
                https://www.pewresearch.org/internet/fact-sheet/social-media/
            </a> 
            (дата обращения: 05.10.2025)
        </li>
        <li>
            DataReportal. Global Social Media Statistics [Электронный ресурс]. – 
            <a href="https://datareportal.com/social-media-users" target="_blank" rel="noopener">
                https://datareportal.com/social-media-users
            </a> 
            (дата обращения: 05.10.2025)
        </li>
    </ol>
</section>

{% endblock %}

{% block toc %}
<h3>Содержание страницы</h3>
<ul>
    <li><a href="#academic">Академические статьи</a></li>
    <li><a href="#statistical">Статистические ресурсы</a></li>
    <li><a href="#additional">Дополнительные материалы</a></li>
    <li><a href="#methodology">Методология</a></li>
    <li><a href="#research-ethics">Научная этика</a></li>
</ul>
{% endblock %}